
<label class="label"><%= t("activerecord.attributes.job.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @job.name %></p>

<label class="label"><%= t("activerecord.attributes.job.active", :default => t("activerecord.labels.active", :default => "Active")) %>:</label>
<p><%= @job.active %></p>

<label class="label"><%= t("activerecord.attributes.job.arguments", :default => t("activerecord.labels.arguments", :default => "Arguments")) %>:</label>
<p><%= @job.arguments %></p>

<label class="label"><%= t("activerecord.attributes.job.schedule_min", :default => t("activerecord.labels.schedule_min", :default => "Schedule min")) %>:</label>
<p><%= @job.schedule_min %></p>

<label class="label"><%= t("activerecord.attributes.job.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</label>
<p><%= @job.description %></p>

<label class="label">jar path:</label>
<p><%= @job.jar_path %></p>

<label class="label"> 실행이력</label>
<p><%= link_to "보기", job_histories_url(@job) %>
<div class="form-actions">
<%= link_to "Back", jobs_path, :class => 'btn'  %>
<%= link_to "Edit", edit_job_path(@job), :class => 'btn' %>
<%= link_to "Delete", job_path(@job), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
