<h1>Historys</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
    <th>Job</th>
    <th>Started at</th>
    <th>Last Ack at</th>
    <th>Finished at</th>
    <th>result</th>
  </tr>
  </thead>
  <tbody>
  <% @histories.each do |history| -%>
   <tr>
    <td><%= history.id %></td>
    <td><%= history.job.name %></td>
    <td><%= history.start_at.to_formatted_s(:kor_long) %></td>
    <td><%= history.last_ack_at.to_formatted_s(:kor_long) %></td>
    <td><%= history.finish_at.to_formatted_s(:kor_long) %></td>
    <td><%=  link_to  "#{history.result}", history_logs_url(history)%></td>
   </tr>
  <% end -%>
  </tbody>
</table>
